<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!-- Foreground service permission -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Android 11+: foreground service that interacts with camera (even když kamera běží v Activity) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />

    <application
        android:name=".MCAWApp"
        android:label="MCAW"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <!-- Launcher Activity -->
        <activity
            android:name="com.mcaw.ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Kamera/Preview -->
        <activity
            android:name="com.mcaw.ui.PreviewActivity"
            android:exported="false" />

        <!-- Settings -->
        <activity
            android:name="com.mcaw.ui.SettingsActivity"
            android:exported="false" />
        
        <activity android:name=".ui.HelpActivity" />
        <activity android:name=".ui.LegalActivity" />

        
        <!-- Foreground ML Engine Service -->
        <service
            android:name="com.mcaw.service.McawService"
            android:exported="false"
            android:foregroundServiceType="camera|location" />
    </application>

</manifest>
